{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>IIT Madras Online Degree Program! </h1>
        <h2>Interested? </h2>
        <h3> Drop us your email address so we can notify you once registrations open</h3>
    </div>
    <form method="POST">

        {{form.hidden_tag() }}
<div class="form-group">
    {{form.email.label}}
    {{form.email(class="form-control")}}
</div>

<div class="form-group">
    {{form.state.label}} {{form.state(class="form-control")}}
</div>

<div class="form-group">
    {{form.city.label}} {{form.city(class="form-control")}}
</div>





<div class="form-group">
    {{form.phonenumber.label}}{{form.phonenumber(class="form-control")}}
</div>
       
    {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>

</div>


{% endblock %}

